{{> header}}

<body id="article-background">


    <div class="ui sizer vertical segment">
        <div id="header" class="ui huge center aligned header">Brick Nerd Web Scraper Articles</div>
        <div class="four ui buttons">
            <button class="ui blue button button">
                <a id="button-links" href="/">Home</a>
            </button>
            <button class="ui yellow button">
                <a id="button-links" href="/savedarticles">Saved Articles</a></button>
            <button class="ui purple button">
                <a id="button-links" href="/scrape">Scrape</a>
            </button>
            <button class="ui red button">
                <a id="button-links" href="/cleararticles">Clear Articles</a>
            </button>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui grid container">

        {{#each articles}}
        <div class="ui relaxed items">
            <div id="article-item" class="item">
                <div class="ui medium image">
                    <img src="{{this.image}}">
                </div>
                <div class="middle aligned content">
                    <a id="link-title" class="header" href="http://bricknerd.com{{this.link}}" target="_blank">
                        {{this.title}}
                    </a>
                    <div class="meta">
                        <span id="link-title" class="date">{{this.date}}</span>
                    </div>
                    <div class="description">
                        <p>{{this.summary}}</p>
                    </div>
                    <div class="extra">
                        <div data-id={{this._id}} class="ui blue right floated button save-article">
                            Save
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>


    <div id="notes"></div>



    {{> footer}}