{{> header}}

<body id="article-background">

 <!--Navigation Bar-->
    <div class="ui inverted menu">
        <a class="red item" href="/">Home</a>
        <a class="orange item" href="/savedarticles">Saved Articles</a>
        <a class="yellow item" href="/scrape">Scrape</a>
        <a class="olive item" href="/cleararticles">Clear Articles</a>
    </div>

    <!--Page Header-->
    <div class="ui sizer vertical segment">
        <div id="header" class="ui huge center aligned header">Brick Nerd Web Scraper Articles</div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui grid container">

        {{#each articles}}
        <div class="ui relaxed items">
            <div id="article-item" class="item">
                <div class="ui medium image">
                    <img src="{{this.image}}">
                </div>
                <div class="middle aligned content">
                    <a id="link-title" class="header" href="http://bricknerd.com{{this.link}}" target="_blank">
                        {{this.title}}
                    </a>
                    <div class="meta">
                        <span id="link-title" class="date">{{this.date}}</span>
                    </div>
                    <div class="description">
                        <p>{{this.summary}}</p>
                    </div>
                    <div class="extra">
                        <div data-id={{this._id}} class="ui blue right floated button save-article">
                            Save
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

    {{> footer}}