{{> header}}

<body id="saved-background">

    <div class="ui sizer vertical segment">
        <div id="header" class="ui huge center aligned header">Brick Nerd Saved Articles</div>
        <div class="two ui buttons">
            <button class="ui red button">
                <a id="button-links" href="/">Home</a>
            </button>
            <button id="button-links" class="ui yellow button">Clear Articles</button>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui grid container">
        <div id="article-cards" class="column">

            {{#each savedArticles}}
            <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img src="{{this.image}}">
                    </div>
                    <div class="content">
                        <a href="http://bricknerd.com{{this.link}}" target="_blank" class="header"> {{this.title}} </a>
                        <div class="meta">
                            <span class="date">{{this.date}}</span>
                        </div>
                        <div class="description">
                            <p>{{this.image}}</p>
                        </div>
                        <div class="extra">
                            <div id="delete-article" class="fluid ui animated fade button" tabindex="0">
                                <div class="hidden content">Delete Article</div>
                                <div class="visible content">
                                    <i class="trash alternate outline icon"></i>
                                </div>
                            </div>
                            <div data-id={{this._id}} class="fluid ui animated fade button make-note" tabindex="0">
                                <div class="hidden content">Make a Note</div>
                                <div class="visible content">
                                    <i class="pencil alternate icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>


    </div>

    <!-- Modal -->
    {{#each savedArticles}}
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            Archive Old Messages
        </div>
        <div class="content">
            <div class="form2">
                <form class="ui form">
                     <div class="field">
                        <label>Name</label>
                        <input id="name_{{this._id }}" type="text" name="Name" placeholder="Name">
                    </div>
                    <div class="field">
                        <label>Short Text</label>
                        <textarea id="text_{{this._id }}" rows="5"></textarea>
                    </div>
                    <button data-id={{this._id }} class="submitComment ui button" type="submit">Submit Comment</button>

                </form>
            </div>
        </div>
    </div>
    {{/each}}

    {{> footer}}