{{> header}}

<body id="saved-background">

    <div class="ui sizer vertical segment">
        <div id="header" class="ui huge center aligned header">Brick Nerd Saved Articles</div>
        <div class="two ui buttons">
            <button class="ui red button">
                <a id="button-links" href="/">Home</a>
            </button>
            <button id="button-links" class="ui yellow button">Clear Articles</button>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui grid container">
        <div id="article-cards" class="column">

            {{#each savedArticles}}
            <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img src="{{this.image}}">
                    </div>
                    <div class="content">
                        <a href="http://bricknerd.com{{this.link}}" target="_blank" class="header"> {{this.title}} </a>
                        <div class="meta">
                            <span class="date">{{this.date}}</span>
                        </div>
                        <div class="description">
                            <p>{{this.image}}</p>
                        </div>
                        <div class="extra">
                            <div id="delete-article" class="fluid ui animated fade button" tabindex="0">
                                <div class="hidden content">Delete Article</div>
                                <div class="visible content">
                                    <i class="trash alternate outline icon"></i>
                                </div>
                            </div>
                            <div id="make-note" class="fluid ui animated fade button" tabindex="0">
                                <div class="hidden content">Make a Note</div>
                                <div class="visible content">
                                    <i class="pencil alternate icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>


    </div>


    {{> footer}}