{{> header}}

<body id="saved-background">

    <!--Navigation Bar-->
    <div class="ui inverted menu">
        <a class="red item" href="/">Home</a>
        <a class="orange item" href="/articles">Articles</a>
    </div>

    <div class="ui sizer vertical segment">
        <div id="header" class="ui huge center aligned header">Brick Nerd Saved Articles</div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui grid container">
        <div id="article-cards" class="column">

            {{#each savedArticles}}
            <div class="ui relaxed items">
                <div id="article-item" class="item">
                    <div class="ui medium image">
                        <img src="{{this.image}}">
                    </div>
                    <div class="middle aligned content">
                        <a id="link-title" class="header" href="http://bricknerd.com{{this.link}}" target="_blank">
                            {{this.title}}
                        </a>
                        <div class="meta">
                            <span id="link-title" class="date">{{this.date}}</span>
                        </div>
                        <div class="description">
                            <p>{{this.summary}}</p>
                        </div>
                        <div class="extra">
                            <div class="three ui buttons">
                                <div data-id={{this._id}} class="ui blue animated fade button review-note" tabindex="0">
                                    <div class="hidden content">Review Notes</div>
                                    <div class="visible content">
                                        <i class="file alternate outline icon"></i>
                                    </div>
                                </div>
                                <div data-id={{this._id}} class="ui red animated fade button delete-article" tabindex="0">
                                    <div class="hidden content">Delete Article</div>
                                    <div class="visible content">
                                        <i class="trash alternate outline icon"></i>
                                    </div>
                                </div>
                                <div data-id={{this._id}} class="ui green animated fade button make-note" tabindex="0">
                                    <div class="hidden content">Make a Note</div>
                                    <div class="visible content">
                                        <i class="sticky note icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>


    </div>

    <!--Make Note Modal -->
    {{#each savedArticles}}
    <div id={{_id}} class="ui basic modal note-modal">
        <div class="ui icon header">
            <i class="sticky note icon"></i>
            Make a Note
        </div>
        <div class="content">
            <div class="form2">
                <form class="ui form">
                    <div class="field">
                        <label>Name</label>
                        <input id="name_{{this._id }}" type="text" name="Name" placeholder="Name">
                    </div>
                    <div class="field">
                        <label>Short Text</label>
                        <textarea id="text_{{this._id }}" rows="5"></textarea>
                    </div>
                    <button data-id={{this._id }} class="ui button submit-note" type="submit">Submit Comment</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}

    <!-- Review Note Modal -->
    
 
    <div class="ui basic modal review-modal">
        <div class="ui icon header">
            <i class="file alternate outline icon"></i>
            NOTES
        </div>
        <div class="content">
            <div class="notes">

            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>

            </div>
        </div>
    </div>
    
   

    {{> footer}}